services:
  web:
    build: .
    env_file:
      - .env
    depends_on:
      - db
    expose:
      - "8000"     # only visible to NGINX    
    volumes:
      - .:/app
      - static_volume:/app/static
      - media_volume:/app/media
    #command: python manage.py runserver 0.0.0.0:8000
    #ports:
    #  - "8000:8000"
    
    

  db:
    image: postgres:15
    restart: always
    env_file:
      - .env
    # environment:
    #   POSTGRES_DB: ${DB_NAME}
    #   POSTGRES_USER: ${DB_USER}
    #   POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data/


  nginx:
    image: nginx:latest
    restart: always
    ports:
      - "80:80"
    depends_on:
      - web
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf


volumes:
  postgres_data:
  static_volume:
  media_volume:
